@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* html {
  font-family: var(--font-roboto);
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-family: var(--font-nunito_sans);
} */

/* 
	MESSAGE FROM KRISTIAN:
	It is beneficial to use the default Tailwind breakpoints.
	2px and 4px difference between h1 and h2 is too little. 
	At least 8px jump recommended.
	Also, REM is adviced over PX in typography. 
	Should obviously be a collective decision.
	-Kristian
*/

/* @media (width <= 375px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }
} */

/* @media (max-width: 1024px) and (min-width: 376px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }
} */

@media (width >= 768px) {
  /* h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  } */
  /* p,
  li {
    font-size: 18px;
  } */
}
